{% from "widgets/icons.html" import academic_cap %}
{% from "widgets/link-icons.html" import link_icon %}
{% from "widgets/nav-bars.html" import side_nav_bar %}

{% extends 'user/base.html' %}

{% block title %}LL-daily-training{% endblock %}

{% block navigation %}
  {% call side_nav_bar('exercise-navigation') %}
      {{ link_icon("link-icon", url_for("exercise.daily_training_challenge"), academic_cap("icon")) }}
  {% endcall %}
{% endblock %}

{% block content %}

<h2 class="h2-center">Daily Training Expressions</h2>

<table class="user-expressions">
    <thead>
        <tr>
            <th class="user-expressions--1">Expression</th>
            <th>Knowledge Level</th>
            <th>Practice Count</th>
            <th>Last Practice</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for expr in exprs %}
            <tr>
                <td>
                    <a class="expression-link" href="{{ url_for('expressions.user_expression', expression_id=expr.expression_id) }}">{{ expr.expression }}</a>
                </td>
                <td>{{ expr.knowledge_level | knowledge_level_filter }}</td>
                <td>{{ expr.practice_count }}</td>
                <td>{{ expr.last_practice_time | date_filter }}</td>
                <td>
                    <a class="table-icon tooltip" href="{{ url_for('exercise.remove_from_daily_training', expression_id=expr.expression_id) }}">
                        <span class="tooltiptext">Remove from daily training</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

{% endblock %}
