{% from "widgets/icons.html" import x_circle %}

{% extends 'user/base.html' %}

{% block title %}LL-dialogue-training{% endblock %}

{% block content %}

<div class="container">
    <div class="item-list-container">
        <a class="link-button" href="{{ url_for('dialogue_training.dialogue_new') }}">New Dialogue</a>
    
        {% for dialogue in dialogues %}
            <div class="button-box">
                <button class="button-icon" onclick="showModal('{{ dialogue.id }}')">
                    {{ x_circle("") }}
                </button>
                <div id="modal-{{ dialogue.id }}" class="modal" style="display: none;" onclick="handleOutsideClick(event, '{{ dialogue.id }}')">
                    <div class="modal-content">
                        <p>Are you sure you want to delete this dialogue?</p>
                            <button class="button button-filled" onclick="confirmDelete('{{ dialogue.id }}')">Yes</button>
                            <button class="button" onclick="hideModal('{{ dialogue.id }}')">No</button>
                    </div>
                </div>
                <script>
                    function showModal(dialogueId) {
                        document.getElementById(`modal-${dialogueId}`).style.display = 'flex';
                    }

                    function hideModal(dialogueId) {
                        document.getElementById(`modal-${dialogueId}`).style.display = 'none';
                    }

                    function confirmDelete(dialogueId) {
                        window.location.href = `/exercise/dialogues/${dialogueId}/delete`;
                    }
                </script>
                <a class="link-list-item" href="{{ url_for('dialogue_training.dialogue', dialogue_id=dialogue.id) }}">{{ dialogue.title }}. {{ dialogue.trainedExpressionsCount}} expressions trained</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
