{% from "widgets/icons.html" import x_circle %}

{% extends 'admin/base.html' %}

{% block content%}

<div class="search">
    <a class="link-icon" href="{{ url_for('admin.expressions') }}">
        {{ x_circle("") }}
    </a>
    <form action="{{ url_for('admin.expressions') }}" method="post">
        <input class="daily-training-input" type="text" name="query" value="{{ query_expression }}" required>
        <button class="button button-filled" type="submit" name="action" value="search">Search</button>
    </form>
</div>

<table class="user-expressions">
    <thead>
        <tr>
            <th class="user-expressions--1">Expression</th>
        </tr>
    </thead>
    <tbody>
        {% for expr in exprs %}
            <tr>
                <td>
                    <a class="expression-link" href="{{ url_for('admin.expression', expression_id=expr['id']) }}">{{ expr["expression"] }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
