{% extends 'admin/base.html' %}

{% block title %}LL-admin{% endblock %}

{% block content%}

<div class="expression-sentences">

    <h2>{{ expression.expression }}</h2>
    <hr>
    {% for sentence in expression.context %}
    <div>
        <p>{{ sentence["template"]|expression_sentence|safe }}</p>
    </div>
    {% endfor %}

    <a href="{{url_for('admin.add_expression_sentence', expression_id=expression.id)}}">
        <button class="button button-filled">Add</button>
    </a>
</div>

{% endblock %}