{% macro render_form_field(field, class="form-row-login") %}
<div class="{{ class }}">{{ field.label }} {{ field }}</div>
{% if field.errors %}
    {% for error in field.errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
{% endif %}
{% endmacro %}


{% macro handle_flash() %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="error">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endmacro %}

