{% from "widgets/icons.html" import academic_cap, cloud_arrow_up, queue_list, chat_bubble_bottom_center_text, chat_bubble_left_right, pencil_square, pencil %}

{% extends 'user/base.html' %}

{% block title %}LL{% endblock %}

{% block content%}
<main>
  <article class="menu">
    <a class="menu-title-link" href="{{ url_for('exercise.daily_training_challenge')}}">
      <div class="menu-title-box">
        {{ academic_cap("menu-title-icon") }}
        <h2>Daily Training</h2>
        <p>{{ exprs["dailyTrainingExpressionsNumber"] }} expressions to train</p>
      </div>
    </a>

    <a class="menu-title-link" href="{{ url_for('daily_writing.daily_writing')}}">
      <div class="menu-title-box">
        {{ pencil("menu-title-icon") }}
        <h2>Daily Writing</h2>
        <p>{{ exprs["dailyTrainingExpressionsNumber"] }} total</p>
      </div>
    </a>

    <a class="menu-title-link" href="{{ url_for('expression_recall.expression_recall_challenge')}}">
      <div class="menu-title-box">
        {{ cloud_arrow_up("menu-title-icon") }}
        <h2>Recall</h2>
        <p>{{ exprs["recallExpressionsNumber"] }} expressions to recall</p>
      </div>
    </a>

    <a class="menu-title-link" href="{{ url_for('sentence_training.sentence_training_challenge') }}">
      <div class="menu-title-box">
        {{ chat_bubble_bottom_center_text("menu-title-icon") }}
        <h2>In sentence</h2>
        <p>{{ exprs["sentenceTrainingExpressionsNumber"] }} expressions to train</p>
      </div>
    </a>

    <a class="menu-title-link" href="{{ url_for('writing_training.writing_training')}}">
      <div class="menu-title-box">
        {{ pencil_square("menu-title-icon") }}
        <h2>Train Writing</h2>
        <p>{{ exprs["recallExpressionsNumber"] }} expressions to train</p>
      </div>
    </a>
  
    <a class="menu-title-link" href="{{ url_for('dialogue_training.dialogues')}}">
      <div class="menu-title-box">
        {{ chat_bubble_left_right("menu-title-icon") }}
        <h2>Train Chatting</h2>
        <p>{{ exprs["recallExpressionsNumber"] }} expressions to train</p>
      </div>
    </a>

    <a class="menu-title-link" href="{{ url_for('expressions.user_expressions')}}">
      <div class="menu-title-box">
        {{ queue_list("menu-title-icon") }}
        <h2>My expressions</h2>
        <p>{{ exprs["totalExpressions"] }} total</p>
      </div>
    </a>
  </article>
</main>
{% endblock %}